* {
  box-sizing: border-box;
}

body{
  background-color: #282D35;
  color: #fff;
}

.nav_logo{
  display: flex;
}

.react_nav{
  font-size: 1.5rem;
  font-weight: 700;
  color:#61DAFB ;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color:#21222A;
 
}

.list_items{
  list-style-type: none;
  display: flex;
  font-size: large;
  font-weight: 600;
  gap:0.2rem;
  color:#DEEBEF;
  padding-right:0.5rem ;
}

.ul_fact li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}

.ul_fact li{
  padding-block:10px ;
  font-size: 1.1rem;
}

.h1_main{
  font-size: 3rem;
  font-weight: 700;
}

.main_{
  padding: 1.4rem 1rem;
  background: linear-gradient(red);

}

.footer{
   text-align: center;
   font-size: 1.1rem;
}

@media screen and (min-width:992px) {
  .main_{
      background: url("./images/logo.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
}

